<a href="https://colab.research.google.com/github/ulubeykhuja/Amaliyot/blob/main/10_MA%CA%BCLUMOTLARGA_ISHLOV_BERISH_10_25_YAKUNIY_AMALIY_VAZIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#**10-modul. MaÊ¼lumotlarga ishlov berish. Fayllar va maÊ¼lumotlar ombori**

#**10.25. Modul boÊ»yicha yakuniy amaliy vazifa**

**Amaliyotni bajargach, fayllar bilan ishlash, API va veb sahifalardan maâ€™lumot olish, SQL soÊ»rovlarini yozish va maâ€™lumotlar omboriga maâ€™lumot saqlash koÊ»nikmalariga ega boÊ»lasiz.**

#**Fayldan oÊ»qish va yozish**

#**1) CSV fayldan maÊ¼lumotlarni oâ€˜qish**
* https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/data_date.csv havolasidagi maÊ¼lumotlarni `df` oÊ»zgaruvchisiga saqlang!
* `df` dan tasodifiy 10 ta qatorni ekranga chiqaring!

In [2]:
#javobni shu yerda yozing.
import pandas as pd
url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/data_date.csv "
df = pd.read_csv(url)

In [3]:
df

,Date,Country,Status,AQI Value
0,2022-07-21,Albania,Good,14
1,2022-07-21,Algeria,Moderate,65
2,2022-07-21,Andorra,Moderate,55
3,2022-07-21,Angola,Unhealthy for Sensitive Groups,113
4,2022-07-21,Argentina,Moderate,63
...,...,...,...,...
18116,2025-03-06,United States of America,Moderate,82
18117,2025-03-06,Uzbekistan,Good,17
18118,2025-03-06,Vatican,Moderate,65
18119,2025-03-06,Venezuela,Good,11
18120,2025-03-06,Vietnam,Moderate,64

#**2) CSV fayliga yozish**
* Quyidagi maÊ¼lumotlardan dataframe yarating va uni `people_data.csv` fayliga saqlang.
```
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
```
* Quyidagi maÊ¼lumotlardan yana bir dataframe yarating va uni `people_data_2.csv` fayliga saqlang.
```
{
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35]
}
```

In [5]:
#javobni shu yerda yozing.
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}

df1 = pd.DataFrame(data)

# CSV faylga yozish
df1.to_csv("people_data.csv", index=False)

# 2) Ikkinchi DataFrame yaratish
data2 = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df2 = pd.DataFrame(data2)

# CSV faylga yozish
df2.to_csv("people_data_2.csv", index=False)

#**3) HDF5 formati bilan ishlash**
* Yuqorida yaratgan dataframeÊ¼laringizni `people.h5` faylida saqlang.
* `people.h5` faylidagi barcha jadvallarni oÊ»qing!

In [6]:
#javobni shu yerda yozing.
df1.to_hdf("people.h5", key="table1", mode="w")
df2.to_hdf("people.h5", key="table2", mode="a")

# read people.h5
with pd.HDFStore("people.h5", mode="r") as store:
    print(store["table1"])
    print(store["table2"])

      Name  Age       City
0    Alice   25   Tashkent
1      Bob   30  Samarkand
2  Charlie   35    Bukhara
3    David   40    Andijan
4      Eve   28      Nukus
5    Frank   33      Khiva
6    Grace   38   Namangan
7   Hannah   45    Fergana
8      Ivy   29    Jizzakh
9     Jack   31     Termez
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

#**4) JSON fayllar bilan ishlash**
1. Quyidagi maÊ¼lumotlarni dataframe koÊ»rinishida oÊ»qing va uni `data.json` fayliga yozing!
```
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}
```

In [7]:
#javobni shu yerda yozing.
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack"],
    "Age": [25, 30, 35, 40, 28, 33, 38, 45, 29, 31],
    "City": ["Tashkent", "Samarkand", "Bukhara", "Andijan", "Nukus", "Khiva", "Namangan", "Fergana", "Jizzakh", "Termez"]
}

# DataFrame yaratish
df = pd.DataFrame(data)

# JSON faylga yozish
df.to_json("data.json", orient="records", indent=4)

#**5) APIÊ¼lar bilan ishlash**
1. Quyida berilgan API 17 mingdan ortiq kriptovalyutalarning dollarga nisbatan narxi haqidagi maÊ¼lumotlarni saqlaydi. Siz esa endi:
  * API orqali barcha maÊ¼lumotlarni yigÊ»ib oling;
  * ularni dataframe koÊ»rinishida saqlang;
  * maÊ¼lumotlar boshidan 5 ta qatorni ekranga chiqaring;
  * maÊ¼lumotlar ichidan `bitcoin` ni izlab toping!

In [8]:
coins_url = "https://api.coingecko.com/api/v3/coins/list"
#javobni shu yerda yozing.

import requests

# 1. API orqali ma'lumot olish
response = requests.get(coins_url)
data = response.json()

# 2. DataFrame yaratish
df = pd.DataFrame(data)

# 3. Boshidan 5 ta qatorni chiqarish
print(df.head())

# 4. Bitcoinni topish
bitcoin_info = df[df["id"] == "bitcoin"]
print("\nBitcoin haqida ma'lumot:")
print(bitcoin_info)

                                       id                            symbol  \
0                                       _                               gib
1                             000-capital                               000
2  01111010011110000110001001110100-token  01111010011110000110001001110100
3                                01-token                                01
4                                  0chain                               zcn

                               name
0                        à¼¼ ã¤ â—•_â—• à¼½ã¤
1                       000 Capital
2  01111010011110000110001001110100
3                                01
4                               Zus

Bitcoin haqida ma'lumot:
           id symbol     name
2258  bitcoin    btc  Bitcoin

#**6) APIÊ¼lar bilan ishlash**
1. Yuqorida berilgan kriptovalyuta maÊ¼lumotlaridan `id` ustunini roÊ»yxat koÊ»rinishida saqlang va bu roÊ»yxatga `coin_ids` deb nom bering.
2. https://api.coingecko.com/api/v3/simple/price?ids={coin_ids}&vs_currencies=usd havolasi orqali kriptovalyutalarning `usd` ga nisbatini oling (birinchi 100 ta maÊ¼lumotni olish yetarli).
3. 2-shartda berilgan link orqali olingan maÊ¼lumotlarni dataframe koÊ»rinishida saqlang. Bunda uning indeksi va `usd` ustuni boÊ»lsin. `index` -> kriptovalyutalar nomi, `usd` -> narxi

#**ðŸ’¡Ishora:** linkdagi `{coin_ids}` oÊ»zgaruvchi sifatida yozilgan. Siz ham 1-shartda saqlagan `coin_ids` oÊ»zgaruvchingizni shu qismda yozib keting!

In [9]:
#javobni shu yerda yozing.

# 1. Barcha kriptovalyutalar ro'yxatini olish

coin_ids =  "https://api.coingecko.com/api/v3/coins/list"
response = requests.get(coins_url)
df = pd.DataFrame(response.json())

# 2. Birinchi 100 ta coin id'ni olish
coin_ids = df["id"].head(100).tolist()
coin_ids_str = ",".join(coin_ids)

# 3. Ularning USD narxlarini olish
price_url = f"https://api.coingecko.com/api/v3/simple/price?ids={coin_ids_str}&vs_currencies=usd"
price_data = requests.get(price_url).json()

# 4. DataFrame yaratish
price_df = pd.DataFrame(price_data).T
price_df.columns = ["usd"]

# 5. Natijani koâ€˜rsatish
print(price_df.head())

                                             usd
_                                       0.003432
000-capital                             0.000061
01111010011110000110001001110100-token  0.002060
01-token                                0.000262
0chain                                  0.005056

#**7) Veb sahifadan oÊ»qish**
1. Pandas yordamida veb sahifadagi jadvalni yuklab oling.
2. Maâ€™lumotlarni dataframe koâ€˜rinishida chiqaring.
3. Agar sahifada bir nechta jadval boâ€˜lsa, eng muhimini tanlang.
4. Maâ€™lumotni tozalang (boâ€˜sh qatorlarni olib tashlang, kerakli ustunlarni tanlang).
5. Natijani CSV faylga saqlang.

***Eslatma: manba sifatida oÊ»zingiz istagan veb sahifani tanlang. Bu vazifada mustaqil izlanishni oÊ»rganasiz!***

In [23]:
#javobni shu yerda yozing.

from bs4 import BeautifulSoup

#Jadval joylashgan URL manzil
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36"
}

#HTML sahifani yuklab olish
response = requests.get(url, headers=headers)

#HTML kodni BeautifulSoup yordamida oâ€˜qish
soup = BeautifulSoup(response.text, "html.parser")

#Pandas yordamida barcha jadvallarni olish
tables = pd.read_html(str(soup))
print(f"Topilgan jadvallar soni: {len(tables)}")

#Eng muhim jadval â€” birinchisini tanlaymiz
df = tables[2]
print("\nJadvaldan birinchi 5 ta qator:")
print(df.head())

#cleaning
df = df.dropna(how="all")
df = df.rename(columns={
    "Country/Territory": "Country",
    "IMF (2025)[6]": "IMF",
    "World Bank (2022â€“24)[7]": "WB",
    "United Nations (2023)[8]": "UN"
})

df = df[["Country", "IMF", "WB", "UN"]]

# ta_csv
df.to_csv("byGDP.csv", index=False)

Topilgan jadvallar soni: 7

Jadvaldan birinchi 5 ta qator:
  Country/Territory IMF (2025)[6] World Bank (2022â€“24)[7]  \
0             World     117165394               111326370
1     United States      30615743                29184890
2        China[n 1]      19398577                18743803
3           Germany       5013574                 4659929
4             Japan       4279828                 4026211

  United Nations (2023)[8]
0                100834796
1                 27720700
2                 17794782
3                  4525704
4                  4204495

/tmp/ipython-input-336797857.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup))

In [22]:
df.columns.tolist()

['Country/Territory',
 'IMF (2025)[6]',
 'World Bank (2022â€“24)[7]',
 'United Nations (2023)[8]']

# **MaÊ¼lumotlar ombori bilan ishlash**

#**8) MaÊ¼lumotlar omborini yuklash va ulanish**
1. https://github.com/alishermutalov/praktikum-datasets/blob/praktikum/chinook.db havolasi orqali maÊ¼lumotlar omborini yuklab oling.
2. Yuklab olingan maÊ¼lumotlar omboriga sqlite3 moduli yordamida **ulaning**.

In [24]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
!unzip "chinook.zip"

--2025-11-03 09:05:14--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 104.21.30.141, 172.67.172.250, 2606:4700:3037::ac43:acfa, ...
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|104.21.30.141|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: â€˜chinook.zipâ€™

chinook.zip         100%[===================>] 298.43K  --.-KB/s    in 0.005s

2025-11-03 09:05:14 (60.3 MB/s) - â€˜chinook.zipâ€™ saved [305596/305596]

Archive:  chinook.zip
  inflating: chinook.db

In [25]:
#javobni shu yerda yozing.
import sqlite3

# Bazaga ulanish
connection = sqlite3.connect("chinook.db")

# Cursor yaratish (soâ€˜rovlar yuborish uchun)
cursor = connection.cursor()

# Maâ€™lumotlar omboridagi barcha jadvallarni koâ€˜rish
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Bazadagi jadvallar roâ€˜yxati:")
for t in tables:
    print("-", t[0])

#Ulanishni yopish
connection.close()

Bazadagi jadvallar roâ€˜yxati:
- albums
- sqlite_sequence
- artists
- customers
- employees
- genres
- invoices
- invoice_items
- media_types
- playlists
- playlist_track
- tracks
- sqlite_stat1

#**9) MaÊ¼lumotlar omboriga soÊ»rov yuborish**
1. Jadvallar roÊ»yxatini koÊ»ring. Ularning ichida `albums` jadvali boÊ»lsa, shu jadvaldagi barcha maÊ¼lumotlarni (qatorlarni) ekranga chiqaring.
2. Qatorlar soni nechta ekanini aniqlab, uni ham ekranga chiqaring.
3.`albums` jadvalining ustunlari haqidagi maÊ¼lumotlarni ekranga chiqaring.

In [28]:
#javobni shu yerda yozing.

# Ma'lumotlar omboriga ulanish
connection = sqlite3.connect("chinook.db")
cursor = connection.cursor()

# Bazadagi jadvallar ro'yxatini ko'rish
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [t[0] for t in cursor.fetchall()]

print("Jadvallar:")
print(tables)

# Agar "albums" jadvali mavjud boâ€˜lsa, maâ€™lumotlarini olish
if "albums" in tables:
    print("\n'albums' jadvali topildi!\n")

    # Barcha qatorlarni olish
    df_albums = pd.read_sql_query("SELECT * FROM albums;", connection)

    # Jadvalni koâ€˜rsatish
    print("'albums' jadvalidagi birinchi 5 ta qator:")
    print(df_albums.head())

    # Qatorlar sonini aniqlash
    row_count = len(df_albums)
    print(f"\nQatorlar soni: {row_count}")

    # Ustunlar haqidagi ma'lumotlarni olish
    cursor.execute("PRAGMA table_info(albums);")
    columns_info = cursor.fetchall()

    print("\n'albums' jadvalining ustunlari:")
    for col in columns_info:
        print(f" - {col[1]} ({col[2]})")
else:
    print("'albums' jadvali topilmadi!")

Jadvallar:
['albums', 'sqlite_sequence', 'artists', 'customers', 'employees', 'genres', 'invoices', 'invoice_items', 'media_types', 'playlists', 'playlist_track', 'tracks', 'sqlite_stat1']

'albums' jadvali topildi!

'albums' jadvalidagi birinchi 5 ta qator:
   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

Qatorlar soni: 347

'albums' jadvalining ustunlari:
 - AlbumId (INTEGER)
 - Title (NVARCHAR(160))
 - ArtistId (INTEGER)

#**10) SQL to DataFrame**
1. `albums` jadvalini `pandas.DataFrame` ga oÊ»tkazing!

In [29]:
#javobni shu yerda yozing.

# albums jadvalini toâ€˜liq Pandas DataFrame sifatida oâ€˜qish
df_albums = pd.read_sql_query("SELECT * FROM albums;", connection)

# Jadvalni koâ€˜rsatish
print("'albums' jadvalidagi birinchi 5 ta qator:")
print(df_albums.head())

# Qatorlar sonini aniqlash
print(f"\nQatorlar soni: {len(df_albums)}")

# DataFrame haqida ma'lumot
print("\n Jadval tuzilmasi:")
print(df_albums.info())

'albums' jadvalidagi birinchi 5 ta qator:
   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

Qatorlar soni: 347

 Jadval tuzilmasi:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AlbumId   347 non-null    int64
 1   Title     347 non-null    object
 2   ArtistId  347 non-null    int64
dtypes: int64(2), object(1)
memory usage: 8.3+ KB
None

#**11)**  `chinook.db` maÊ¼lumotlar omboridan `tracks` jadvalining birinchi 10 ta qatorini ekranga chiqaring

#ðŸ’¡Ishora: LIMIT

In [30]:
#javobni shu yerda yozing.

# 'tracks' jadvalidan birinchi 10 ta qatorni olish
query = "SELECT * FROM tracks LIMIT 10;"
df_tracks = pd.read_sql_query(query, connection)

# Jadvalni koâ€˜rsatish
print("'tracks' jadvalidagi birinchi 10 ta qator:")
print(df_tracks)

'tracks' jadvalidagi birinchi 10 ta qator:
   TrackId                                     Name  AlbumId  MediaTypeId  \
0        1  For Those About To Rock (We Salute You)        1            1
1        2                        Balls to the Wall        2            2
2        3                          Fast As a Shark        3            2
3        4                        Restless and Wild        3            2
4        5                     Princess of the Dawn        3            2
5        6                    Put The Finger On You        1            1
6        7                          Let's Get It Up        1            1
7        8                         Inject The Venom        1            1
8        9                               Snowballed        1            1
9       10                               Evil Walks        1            1

   GenreId                                           Composer  Milliseconds  \
0        1          Angus Young, Malcolm Young, Brian Johnson        343719
1        1                                               None        342562
2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619
3        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051
4        1                         Deaffy & R.A. Smith-Diesel        375418
5        1          Angus Young, Malcolm Young, Brian Johnson        205662
6        1          Angus Young, Malcolm Young, Brian Johnson        233926
7        1          Angus Young, Malcolm Young, Brian Johnson        210834
8        1          Angus Young, Malcolm Young, Brian Johnson        203102
9        1          Angus Young, Malcolm Young, Brian Johnson        263497

      Bytes  UnitPrice
0  11170334       0.99
1   5510424       0.99
2   3990994       0.99
3   4331779       0.99
4   6290521       0.99
5   6713451       0.99
6   7636561       0.99
7   6852860       0.99
8   6599424       0.99
9   8611245       0.99

#**12)**`tracks` jadvalidan faqat `Name`, `Composer` ustunlarini tanlab oling!

In [31]:
#javobni shu yerda yozing.
query = "SELECT Name, Composer FROM tracks;"
df_tracks = pd.read_sql_query(query, connection)

# Jadvalni koâ€˜rsatish (birinchi 10 ta qator)
print("'tracks' jadvalidagi Name va Composer ustunlari:")
print(df_tracks.head(10))

'tracks' jadvalidagi Name va Composer ustunlari:
                                      Name  \
0  For Those About To Rock (We Salute You)
1                        Balls to the Wall
2                          Fast As a Shark
3                        Restless and Wild
4                     Princess of the Dawn
5                    Put The Finger On You
6                          Let's Get It Up
7                         Inject The Venom
8                               Snowballed
9                               Evil Walks

                                            Composer
0          Angus Young, Malcolm Young, Brian Johnson
1                                               None
2  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...
3  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...
4                         Deaffy & R.A. Smith-Diesel
5          Angus Young, Malcolm Young, Brian Johnson
6          Angus Young, Malcolm Young, Brian Johnson
7          Angus Young, Malcolm Young, Brian Johnson
8          Angus Young, Malcolm Young, Brian Johnson
9          Angus Young, Malcolm Young, Brian Johnson

#**13) ORDER BY , DISTINCT**
* `tracks` jadvalidagi takrorlanmaydigan `GenreId` qiymatlarini oling.
* `tracks` jadvalidagi treklarni `Milliseconds` ustuni boâ€˜yicha kamayish tartibida saralang.

#ðŸ’¡Ishora: ORDER BY , DISTINCT

In [33]:
#javobni shu yerda yozing.

# Takrorlanmaydigan GenreId qiymatlarini olish
query_distinct = "SELECT DISTINCT GenreId FROM tracks;"
df_genres = pd.read_sql_query(query_distinct, connection)

print("Takrorlanmaydigan GenreId qiymatlari:")
print(df_genres)

# Treklarni Milliseconds ustuni boâ€˜yicha kamayish tartibida saralash
query_sorted = "SELECT Name, Milliseconds FROM tracks ORDER BY Milliseconds DESC;"
df_sorted = pd.read_sql_query(query_sorted, connection)

print("Eng uzun treklar (Milliseconds boâ€˜yicha kamayish tartibida):")
print(df_sorted.head(10))  # faqat 10 tasini koâ€˜rsatamiz

Takrorlanmaydigan GenreId qiymatlari:
    GenreId
0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8         9
9        10
10       11
11       12
12       13
13       14
14       15
15       16
16       17
17       18
18       19
19       20
20       21
21       22
22       23
23       24
24       25
Eng uzun treklar (Milliseconds boâ€˜yicha kamayish tartibida):
                          Name  Milliseconds
0       Occupation / Precipice       5286953
1      Through a Looking Glass       5088838
2  Greetings from Earth, Pt. 1       2960293
3      The Man With Nine Lives       2956998
4  Battlestar Galactica, Pt. 2       2956081
5  Battlestar Galactica, Pt. 1       2952702
6    Murder On the Rising Star       2935894
7  Battlestar Galactica, Pt. 3       2927802
8            Take the Celestra       2927677
9                Fire In Space       2926593

#**14) Filtering**
 * `invoices` jadvalidan `Total` summasi 10 dan katta boâ€˜lgan maÊ¼lumotlarni tanlang.

# ðŸ’¡Ishora: WHERE

In [35]:
#javobni shu yerda yozing.

# Total summasi 10 dan katta boâ€˜lgan yozuvlarni tanlash
query = "SELECT * FROM invoices WHERE Total > 10;"
df_invoices = pd.read_sql_query(query, connection)

# Natijani chiqarish
print("Total summasi 10 dan katta boâ€˜lgan invoice yozuvlari:")
print(df_invoices.head(10))

# Umumiy qatorlar soni
print(f"Jami {len(df_invoices)} ta yozuv topildi.")

Total summasi 10 dan katta boâ€˜lgan invoice yozuvlari:
   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0          5          23  2009-01-11 00:00:00          69 Salem Street
1         12           2  2009-02-11 00:00:00  Theodor-Heuss-StraÃŸe 34
2         19          40  2009-03-14 00:00:00           8, Rue Hanovre
3         26          19  2009-04-14 00:00:00          1 Infinite Loop
4         33          57  2009-05-15 00:00:00          Calle Lira, 198
5         40          36  2009-06-15 00:00:00       TauentzienstraÃŸe 8
6         47          15  2009-07-16 00:00:00      700 W Pender Street
7         54          53  2009-08-16 00:00:00             113 Lupus St
8         61          32  2009-09-16 00:00:00       696 Osborne Street
9         68          11  2009-10-17 00:00:00       Av. Paulista, 2022

  BillingCity BillingState  BillingCountry BillingPostalCode  Total
0      Boston           MA             USA              2113  13.86
1   Stuttgart         None         Germany             70174  13.86
2       Paris         None          France             75002  13.86
3   Cupertino           CA             USA             95014  13.86
4    Santiago         None           Chile              None  13.86
5      Berlin         None         Germany             10789  13.86
6   Vancouver           BC          Canada           V6C 1G8  13.86
7      London         None  United Kingdom          SW1V 3EN  13.86
8    Winnipeg           MB          Canada           R3L 2B9  13.86
9   SÃ£o Paulo           SP          Brazil         01310-200  13.86
Jami 64 ta yozuv topildi.

#**15) CREATE and INSERT**
* `chinook.db` maÊ¼lumotlar omboriga `users` jadvali yarating. Jadval maydonlari (ustunlar):
  * `id`
  * `name`
  * `birth_date`
* Yaratilgan `users` jadvaliga quyidagi maÊ¼lumotlarni qoÊ»shing:

    * ```
    [
    ('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 28), ('Eve', 22),
    ('Frank', 40), ('Grace', 27), ('Hannah', 32), ('Ivy', 29), ('Jack', 31),
    ('Kevin', 33), ('Liam', 26), ('Mia', 24), ('Noah', 36), ('Olivia', 23),
    ('Peter', 39), ('Quinn', 37), ('Rachel', 34), ('Samuel', 41), ('Tina', 21)
]
 ```

#ðŸ’¡Ishora: CREATE TABLE, INSERT

In [39]:
cursor.execute("DROP TABLE IF EXISTS users;")

In [40]:
#javobni shu yerda yozing.

cursor.execute("""
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    birth_date INTEGER
);
""")

data = [
    ('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 28), ('Eve', 22),
    ('Frank', 40), ('Grace', 27), ('Hannah', 32), ('Ivy', 29), ('Jack', 31),
    ('Kevin', 33), ('Liam', 26), ('Mia', 24), ('Noah', 36), ('Olivia', 23),
    ('Peter', 39), ('Quinn', 37), ('Rachel', 34), ('Samuel', 41), ('Tina', 21)
]

cursor.executemany("INSERT INTO users (name, birth_date) VALUES (?, ?);", data)
connection.commit()


cursor.execute("SELECT * FROM users;")
rows = cursor.fetchall()


print("'users' jadvalidagi ma'lumotlar:")
for row in rows:
    print(row)

'users' jadvalidagi ma'lumotlar:
(1, 'Alice', 25)
(2, 'Bob', 30)
(3, 'Charlie', 35)
(4, 'David', 28)
(5, 'Eve', 22)
(6, 'Frank', 40)
(7, 'Grace', 27)
(8, 'Hannah', 32)
(9, 'Ivy', 29)
(10, 'Jack', 31)
(11, 'Kevin', 33)
(12, 'Liam', 26)
(13, 'Mia', 24)
(14, 'Noah', 36)
(15, 'Olivia', 23)
(16, 'Peter', 39)
(17, 'Quinn', 37)
(18, 'Rachel', 34)
(19, 'Samuel', 41)
(20, 'Tina', 21)

#**16) UPDATE and DELETE**
* `users` jadvalidagi Alice ismli foydalanuvchining yoshini yangilang.
* `users` jadvalidan Alice ismli foydalanuvchini oâ€˜chiring.

In [41]:
#javobni shu yerda yozing.

# upd Alice old
cursor.execute("""
UPDATE users
SET birth_date = 26
WHERE name = 'Alice';
""")
connection.commit()

# delete Alice
cursor.execute("""
DELETE FROM users
WHERE name = 'Alice';
""")
connection.commit()

cursor.execute("SELECT * FROM users;")
rows = cursor.fetchall()

print("\nYangilangan 'users' jadvali:")
for row in rows:
    print(row)

Yangilangan 'users' jadvali:
(2, 'Bob', 30)
(3, 'Charlie', 35)
(4, 'David', 28)
(5, 'Eve', 22)
(6, 'Frank', 40)
(7, 'Grace', 27)
(8, 'Hannah', 32)
(9, 'Ivy', 29)
(10, 'Jack', 31)
(11, 'Kevin', 33)
(12, 'Liam', 26)
(13, 'Mia', 24)
(14, 'Noah', 36)
(15, 'Olivia', 23)
(16, 'Peter', 39)
(17, 'Quinn', 37)
(18, 'Rachel', 34)
(19, 'Samuel', 41)
(20, 'Tina', 21)

#**17) f-string yordamida SQL komandalarini yozish**
* `customers` jadvalidan `FirstName` va `LastName` boâ€˜yicha qidiruv qiladigan f-string yozing.

In [42]:
#javobni shu yerda yozing.

first_name = input("Mijozning ismini kiriting: ")
last_name = input("Mijozning familiyasini kiriting: ")

# f-string yordamida SQL soâ€˜rov yozamiz
query = f"""
SELECT * FROM customers
WHERE FirstName = '{first_name}' AND LastName = '{last_name}';
"""

# Soâ€˜rovni bajarish va natijani DataFrame koâ€˜rinishida olish
df_customer = pd.read_sql_query(query, connection)

# Natijani chiqarish
if df_customer.empty:
    print("\n Bunday mijoz topilmadi.")
else:
    print("\n Topilgan mijoz ma'lumotlari:")
    print(df_customer)

Mijozning ismini kiriting: rio
Mijozning familiyasini kiriting: san

 Bunday mijoz topilmadi.

#**18)  AND and OR operators**

* `invoices` jadvalidan `BillingCountry` Germaniya yoki Fransiya boÊ»lgan va `Total` summasi 5 dan katta boâ€˜lgan kerakli qatorlarni tanlang.

#ðŸ’¡Ishora: AND, OR

In [43]:
#javobni shu yerda yozing.

query = """
SELECT *
FROM invoices
WHERE (BillingCountry = 'Germany' OR BillingCountry = 'France')
  AND Total > 5;
"""

# Soâ€˜rovni bajarish va DataFrame sifatida olish
df_invoices = pd.read_sql_query(query, connection)

# Natijani koâ€˜rsatish
print("Germaniya yoki Fransiyadan boâ€˜lgan va Total > 5 boâ€˜lgan yozuvlar:")
print(df_invoices.head(10))

# Jami natijalar soni
print(f"\n Jami {len(df_invoices)} ta yozuv topildi.")

Germaniya yoki Fransiyadan boâ€˜lgan va Total > 5 boâ€˜lgan yozuvlar:
   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0         12           2  2009-02-11 00:00:00  Theodor-Heuss-StraÃŸe 34
1         19          40  2009-03-14 00:00:00           8, Rue Hanovre
2         31          42  2009-05-07 00:00:00   9, Place Louis Barthou
3         40          36  2009-06-15 00:00:00       TauentzienstraÃŸe 8
4         52          38  2009-08-08 00:00:00      BarbarossastraÃŸe 19
5         67           2  2009-10-12 00:00:00  Theodor-Heuss-StraÃŸe 34
6         74          40  2009-11-12 00:00:00           8, Rue Hanovre
7         95          36  2010-02-13 00:00:00       TauentzienstraÃŸe 8
8        117          41  2010-05-22 00:00:00      11, Place Bellecour
9        129          43  2010-07-15 00:00:00         68, Rue Jouvence

  BillingCity BillingState BillingCountry BillingPostalCode  Total
0   Stuttgart         None        Germany             70174  13.86
1       Paris         None         France             75002  13.86
2    Bordeaux         None         France             33000   5.94
3      Berlin         None        Germany             10789  13.86
4      Berlin         None        Germany             10779   5.94
5   Stuttgart         None        Germany             70174   8.91
6       Paris         None         France             75002   8.91
7      Berlin         None        Germany             10789   8.91
8        Lyon         None         France             69002  13.86
9       Dijon         None         France             21000   5.94

 Jami 27 ta yozuv topildi.

#**19) BETWEEN and LIKE**

* `invoices` jadvalidan `Total` summasi 5 dan 15 gacha boâ€˜lgan qatorlarni tanlang.
* `customers` jadvalidan ismi `A` harfi bilan boshlanadigan foydalanuvchilarni tanlang.

In [44]:
#javobni shu yerda yozing.

# invoices jadvalidan Total summasi 5 dan 15 gacha boâ€˜lgan yozuvlar
query_between = """
SELECT *
FROM invoices
WHERE Total BETWEEN 5 AND 15;
"""
df_between = pd.read_sql_query(query_between, connection)

print("Total summasi 5 dan 15 gacha boâ€˜lgan invoices yozuvlari:")
print(df_between.head(10))  # faqat birinchi 10 qatorni koâ€˜rsatamiz
print(f"\n Jami {len(df_between)} ta yozuv topildi.\n")

# 2customers jadvalidan ismi 'A' harfi bilan boshlanadigan foydalanuvchilar
query_like = """
SELECT *
FROM customers
WHERE FirstName LIKE 'A%';
"""
df_like = pd.read_sql_query(query_like, connection)

print("Ismi 'A' harfi bilan boshlanadigan foydalanuvchilar:")
print(df_like[["CustomerId", "FirstName", "LastName", "Country"]])  # faqat kerakli ustunlar

# Ulanishni yopish
connection.close()

Total summasi 5 dan 15 gacha boâ€˜lgan invoices yozuvlari:
   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0          3           8  2009-01-03 00:00:00          GrÃ©trystraat 63
1          4          14  2009-01-06 00:00:00           8210 111 ST NW
2          5          23  2009-01-11 00:00:00          69 Salem Street
3         10          46  2009-02-03 00:00:00         3 Chatham Street
4         11          52  2009-02-06 00:00:00        202 Hoxton Street
5         12           2  2009-02-11 00:00:00  Theodor-Heuss-StraÃŸe 34
6         17          25  2009-03-06 00:00:00    319 N. Frances Street
7         18          31  2009-03-09 00:00:00    194A Chain Lake Drive
8         19          40  2009-03-14 00:00:00           8, Rue Hanovre
9         24           4  2009-04-06 00:00:00         UllevÃ¥lsveien 14

  BillingCity BillingState  BillingCountry BillingPostalCode  Total
0    Brussels         None         Belgium              1000   5.94
1    Edmonton           AB          Canada           T6G 2C7   8.91
2      Boston           MA             USA              2113  13.86
3      Dublin       Dublin         Ireland              None   5.94
4      London         None  United Kingdom            N1 5LH   8.91
5   Stuttgart         None         Germany             70174  13.86
6     Madison           WI             USA             53703   5.94
7     Halifax           NS          Canada           B3S 1C5   8.91
8       Paris         None          France             75002  13.86
9        Oslo         None          Norway              0171   5.94

 Jami 168 ta yozuv topildi.

Ismi 'A' harfi bilan boshlanadigan foydalanuvchilar:
   CustomerId  FirstName  LastName  Country
0           7     Astrid    Gruber  Austria
1          11  Alexandre     Rocha   Brazil
2          32      Aaron  Mitchell   Canada

#**20) DataFrame to SQL**
* Quyidagi maÊ¼lumotlardan dataframe yarating.
  ```
  sales_data = {
    "sale_id": list(range(1, 21)),  # 1 dan 20 gacha boÊ»lgan unikal IDÊ¼lar
    "product_name": [
        "Laptop", "Smartphone", "Tablet", "Headphones", "Smartwatch",
        "Monitor", "Keyboard", "Mouse", "Printer", "Camera",
        "Speaker", "Game Console", "TV", "Router", "Power Bank",
        "Hard Drive", "USB Flash", "Graphics Card", "Microphone", "VR Headset"
    ],
    "quantity": [2, 5, 3, 10, 4, 6, 8, 12, 3, 5, 7, 9, 4, 2, 11, 6, 15, 1, 3, 2],
    "price": [1200, 800, 450, 200, 300, 500, 100, 50, 250, 700,
              150, 400, 1000, 90, 60, 110, 30, 1500, 80, 600],
    "sale_date": [
        "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-04", "2025-03-05",
        "2025-03-06", "2025-03-07", "2025-03-08", "2025-03-09", "2025-03-10",
        "2025-03-11", "2025-03-12", "2025-03-13", "2025-03-14", "2025-03-15",
        "2025-03-16", "2025-03-17", "2025-03-18", "2025-03-19", "2025-03-20"
    ]
}
```
*Yuqoridagi maÊ¼lumotlar asosida yaratgan dataframeÊ¼ingizdan SQL jadvali tuzing va uni `sales` deb nomlang.

In [45]:
#javobni shu yerda yozing.

# 1. Ma'lumotlar
sales_data = {
    "sale_id": list(range(1, 21)),
    "product_name": [
        "Laptop", "Smartphone", "Tablet", "Headphones", "Smartwatch",
        "Monitor", "Keyboard", "Mouse", "Printer", "Camera",
        "Speaker", "Game Console", "TV", "Router", "Power Bank",
        "Hard Drive", "USB Flash", "Graphics Card", "Microphone", "VR Headset"
    ],
    "quantity": [2, 5, 3, 10, 4, 6, 8, 12, 3, 5, 7, 9, 4, 2, 11, 6, 15, 1, 3, 2],
    "price": [1200, 800, 450, 200, 300, 500, 100, 50, 250, 700,
              150, 400, 1000, 90, 60, 110, 30, 1500, 80, 600],
    "sale_date": [
        "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-04", "2025-03-05",
        "2025-03-06", "2025-03-07", "2025-03-08", "2025-03-09", "2025-03-10",
        "2025-03-11", "2025-03-12", "2025-03-13", "2025-03-14", "2025-03-15",
        "2025-03-16", "2025-03-17", "2025-03-18", "2025-03-19", "2025-03-20"
    ]
}

# 2. DataFrame yaratish
df_sales = pd.DataFrame(sales_data)

print(df_sales.head())

# 3. SQLite bazasiga ulanish
connection = sqlite3.connect("chinook.db")

# 4. DataFrame'ni SQL jadval sifatida saqlash
df_sales.to_sql("sales", connection, if_exists="replace", index=False)

# 5. Jadvaldan ma'lumotni oâ€˜qib, tekshirish
check_df = pd.read_sql_query("SELECT * FROM sales LIMIT 5;", connection)
print("\n Jadvaldan oâ€˜qilgan dastlabki 5 ta yozuv:")
print(check_df)

# 6. Ulanishni yopish
connection.close()

   sale_id product_name  quantity  price   sale_date
0        1       Laptop         2   1200  2025-03-01
1        2   Smartphone         5    800  2025-03-02
2        3       Tablet         3    450  2025-03-03
3        4   Headphones        10    200  2025-03-04
4        5   Smartwatch         4    300  2025-03-05

 Jadvaldan oâ€˜qilgan dastlabki 5 ta yozuv:
   sale_id product_name  quantity  price   sale_date
0        1       Laptop         2   1200  2025-03-01
1        2   Smartphone         5    800  2025-03-02
2        3       Tablet         3    450  2025-03-03
3        4   Headphones        10    200  2025-03-04
4        5   Smartwatch         4    300  2025-03-05