<a href="https://colab.research.google.com/github/ulubeykhuja/Amaliyot/blob/main/survey_merg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_excel("/content/respond.xlsx")
df2 = pd.read_excel("/content/ssurvey.xlsx")

In [4]:
merged_df = pd.merge(df1, df2, left_on='telegram_id', right_on='ID рақамингиз', how='inner')

In [5]:
print(merged_df.head())

   telegram_id     full_name  region district        mahalla birth_year  \
0    693834062         Jasur  Жиззах    Зомин          Nihol       1990
1   1480335794  ABDULAZIZBEK  Жиззах   Бахмал    Fidokor MFY       1997
2   1620426632        Sardor  Жиззах   Бахмал    Fidokor MFY       1997
3   7753871756     Абдулатиф  Жиззах   Бахмал       Истиклол       1995
4   5699253911     Saidasror  Жиззах   Бахмал  Yangibog' MFY       2004

  gender education      employment_status            sector  ...        _id  \
0  Эркак      Олий      Доимий иш (тўлиқ)  Давлат секторида  ...  615207039
1  Эркак      Олий      Доимий иш (тўлиқ)  Давлат секторида  ...  615208014
2  Эркак      Олий      Доимий иш (тўлиқ)  Давлат секторида  ...  615210051
3  Эркак      Олий  Ўзини-ўзи банд қилган               NaN  ...  615222134
4  Эркак      Олий              Талабаман               NaN  ...  615230511

                                  _uuid    _submission_time  \
0  98b844b6-0a1c-4d8d-a86b-8dd8fcf63025 2025-11-26 07:52:06
1  35493494-08d0-4d9c-9fb6-2ed21d6f39d9 2025-11-26 07:53:09
2  bd05389e-9b97-4b0a-89af-69ed7286613b 2025-11-26 07:55:38
3  5370afd3-0f52-4db7-8b73-22bb76c2100f 2025-11-26 08:09:45
4  346bb8a4-cbcd-4357-9621-102e927e25b3 2025-11-26 08:19:08

  _validation_status  _notes            _status  _submitted_by  \
0                NaN     NaN  submitted_via_web            NaN
1                NaN     NaN  submitted_via_web            NaN
2                NaN     NaN  submitted_via_web            NaN
3                NaN     NaN  submitted_via_web            NaN
4                NaN     NaN  submitted_via_web            NaN

              __version__ _tags  _index
0  vNrkYJswPXdWTgWXZPSSid   NaN       6
1  vNrkYJswPXdWTgWXZPSSid   NaN       8
2  vNrkYJswPXdWTgWXZPSSid   NaN       9
3  vNrkYJswPXdWTgWXZPSSid   NaN      17
4  vNrkYJswPXdWTgWXZPSSid   NaN      25

[5 rows x 128 columns]

In [6]:
merged_df.to_excel("merged_file.xlsx", index=False)